  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ptsans-400.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ptsans-700.woff2') format('woff2');
    font-display: swap;
  }

  :root {
    --color-text-basic-1: #000000;
    --color-text-basic-2: #333333;
    --color-text-basic-3: #ffffff;


    --color-botton-basic: #756157;
    --color-botton-second: #82B3D3;
    --color-botton-select: #7DB54F;

    --background-basic-1: rgba(131, 179, 211, 0.12);
    --background-basic-2: rgba(131, 179, 211, 0.2);
    --background-basic-3: #82B3D3;
    --background-basic-4: #ffffff;
    --background-basic-5: #f2f2f2;


    --font-weight-bold: 700;
  }

  html {
    height: 100%;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


  body {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background-color: var(--background-basic-4);
    color: var(--color-text-basic-2);
  }

  .base-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .page-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 40px;
    min-height: 100%;
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
  }

  /* заголовки */

  .heading-1{
    font-weight: var(--font-weight-bold);
    font-size: 60px;
    line-height: 78px;
  }

  .heading-2 {
    font-weight: var(--font-weight-bold);
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--color-text-basic-1);
  }

  .heading-3 {
    font-weight: var(--font-weight-bold);
    font-size: 24px;
    line-height: 28px;
  }

  /* тексты */

  .text-subtitle {
    font-size: 22px;
    line-height: 26px;
  }

  .text-block {
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
  }

  /*кнопки*/

  .button {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    color: var(--color-text-basic-3);
    background-color: var(--color-botton-basic);
    text-align: center;
    border-radius: 4px;
    border: none;
  }

  .button-search-subscription {
    font-family: inherit;
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-text-basic-3);
    border-radius: 4px;
    border: none;
  }

  .button-reset  {
    background-color: transparent;
  }

  .button-select {
    background-color: var(--color-botton-second);
  }

  .button-rating {
    font-weight: 400;
    color: #333333;
    background-color: #F2F2F2;
  }

  /* шапка */

  .main-header {
    width: 1060px;
    padding: 0 70px;
  }

  .navigation {
    display: flex;
  }

  .header-logo {
    display: block;
    margin-right: 30px;
    width: 140px;
    height: 70px;
  }

  .navigation-list {
    width: 440px;
  }

  .navigation-user{
    width: 310px;
    margin-left: auto;
  }

  .navigation-link {
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text-basic-1);
    text-decoration: none;
  }

  .number-favorites {
    display: block;
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #FFFFFF;
    background-color: var(--color-botton-select);
  }

  .main-content {
    flex-grow: 1;
  }

    /* приветствие */

  .hero {
    background-image: url('../images/divider.png'),
    url('../images/index-background.jpg');
    background-position: bottom, top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #7DB54F;
    height: 485px;
  }

  .business-card {
    display: block;
    width: 458px;
    margin: 0 auto;
    padding-top: 51px;
  }

      /*преимущества*/
  .advantages {
    text-align: center;
  }

  .advantages-title {
    width: 630px;
    margin: 69px auto 25px;
  }

  .advantages-text {
    width: 655px;
    margin: 0 auto 69px;
  }

  .advantages-list {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-list-img {
    background-color: var(--background-basic-3);
    color:  var(--color-text-basic-3);
    display: flex;
    justify-content: space-between;
  }

  .advantages-list li:last-child {
    flex-direction: row-reverse;
  }

  .list-img-item,
  .advantages-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    min-height: 385px;
    }

  .list-img-title {
    text-transform: uppercase;
  }

  .advantages-list-title {
    text-transform: uppercase;
    color: var(--color-text-basic-1);
  }

  .background-basic-1 {
    background-color: var(--background-basic-1);
  }

  .background-basic-2 {
    background-color: var(--background-basic-2);
  }

    /*сервис*/
  .service {
    text-align: center;
  }

  .service-title {
    width: 510px;
    margin: 64px auto 20px;
  }

  .service-text {
    width: 500px;
    margin: 0 auto 64px;
  }

  .service-list {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-basic-1);
  }

  .service-item {
    width: 400px;
    min-height: 385px;
  }

  .service-item-title {
    text-transform: uppercase;
    color: var(--color-text-basic-1);
  }

  .service-list li:nth-of-type(2) {
    background-color: var(--background-basic-4);
  }

  .service-item-housing {
    background-image: url("../images/icon/housing.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .service-item-food {
    background-image: url("../images/icon/food.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .service-item-souvenirs {
    background-image: url("../images/icon/souvenirs.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Заинтересовались? */

  .hotel-search {
    text-align: center;
  }

  .hotel-search-title  {
    width: 300px;
    margin: 96px auto 20px;
    }

  .hotel-search-text {
    width: 595px;
    margin: 0 auto 54px;
  }

  .hotel-search-button {
    background-color: var(--color-botton-basic);
    display: block;
    width: 376px;
    padding: 8px 50px;
    margin: 0 auto 96px;
  }

     /* блок подписка */

  .subscription-index {
    background-color: var(--background-basic-3);
    background-image: url('../images/subscription.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-text-basic-3);
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .subscription {
    text-align: center;
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .subscription-title  {
    width: 405px;
    margin: 0 auto 20px;
  }

  .subscription-text {
    width: 480px;
    margin: 0 auto 54px;
  }

  .subscription-index .subscription-title {
    color: var(--color-text-basic-3);
  }

  .subscription-index .text-basic {
    color: var(--color-text-basic-3);
  }

  .button-subscription {
    background-color: var(--color-botton-second);
  }

  /* каталог  - фильтр */

  .filter {
    width: 1060px;
    padding: 35px 70px 70px;
    background-color: var(--background-basic-3);
    color: var(--color-text-basic-3);
    background-image: url('../images/filter-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .filter-title {
    margin: 0;
  }

  .catalog-filter {
    display: flex;
    justify-content: space-between
  }

  .breadcrumbs-list{
    display: flex;
  }

  .button-container {
    display: flex;
    flex-direction: column
  }

  .breadcrumbs-list-link {
    line-height: 21px;
  }

  .catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-filter-item{
    font-size: 18px;
    line-height: 23px;
  }

  /* каталог-гостиницы*/

  .catalog-hotel {
    width: 1060px;
    padding: 50px 70px 60px;
  }

  .sorting-container {
   display: flex;
   margin-bottom: 40px;
  }


  .found {
    margin: 0;
    color: var(--color-text-basic-1);
  }

  .button-card {
    text-decoration: none;
  }

  .hotels-card-link {
    color: var(--color-text-basic-1);
    text-decoration: none;
  }

  .selected-button {
    background-color: var(--color-botton-select);
  }
   /* пагинация */

  .pagination-list {
    display: flex;
  }

  .pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 60px;
    min-height: 60px;
    border-radius: 4px;
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: var(--color-text-basic-3);
    text-decoration: none;
    background-color: var(--color-botton-second);
    margin-right: 8px;
  }

  .pagination-current {
    background-color: var(--background-basic-5);
    color: var(--color-text-basic-1);
  }

  .pagination-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
  }


  /* подвал */

  .main-footer {
    display: flex;
    justify-content: space-between;
    align-content: normal;
    padding: 45px 70px;
  }

  .social-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .social-link {
    display: flex;
    flex-wrap: wrap;
    padding: 13px 12px;
  }

  .footer-phone {
    font-size: 40px;
    line-height: 40px;
    width: 331px;
    color:var(--color-text-basic-1);
    text-decoration: none;
  }

  .footer-author {
    width: 115px;
    margin: 7px 0;
  }

