@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background:  rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

/* шапка */

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-align: center;
  border: none;
}

.main-footer {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

.navigation-list {
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);
  text-decoration: none;
}

/* приветствие */

.hero {
  background-image: url('../images/divider.png'),
   url('../images/index-background.jpg');
  background-position: bottom, top;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #615048;
  height: 485px;
}

/* блоки преимущества, сервис и поиск отелей */

.advantages-title,
.service-title,
.hotel-search-title  {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description,
.service-description,
.hotel-search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);

}

.advantages-list,
.service-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.advantages-list li:first-child {
  display: flex;
  background: rgba(130, 179, 211, 1);
  color:  rgba(255, 255, 255, 1);
}

.advantages-list li:last-child {
  display: flex;
  flex-direction: row-reverse;
  background: rgba(130, 179, 211, 1);
  color:  rgba(255, 255, 255, 1);
}

.advantages-list-title,
.service-item-title  {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.hotel-search-button {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: rgba(255, 255, 255, 1);
  background: rgba(117, 97, 87, 1);
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

/* блок подписка */

.subscription-index {
  background: rgba(131, 179, 211, 1);
  background-image: url('../images/subscription.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 1);
}

.subscription h2{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subscription p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button-subscription {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background: rgba(130, 179, 211, 1);
  border: none;
}

/* подвал */

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color:rgba(0, 0, 0, 1);
  text-decoration: none;
}

/* каталог  - фильтр */

.filter-container {
  background: rgba(131, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  background-image: url('../images/catalog/catalog-background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item{
  font-size: 18px;
  line-height: 23px;
}

.button-apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background: rgba(130, 179, 211, 1);
  border: none;
}

.reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

/* каталог-гостиницы*/

.found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}

.button-card {
  text-decoration: none;
}

.hotels-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hotels-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.favorites-button {
  background: rgba(130, 179, 211, 1);
}

.selected {
  background: rgba(125, 181, 79, 1);
}

.rating {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
}

.pagination-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 60px;
    min-height: 60px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    background-color: #83b3d3;
    margin-right: 8px;
}

.pagination-current {
  background: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

.pagination-item span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
}

/* подвал */

.footer-social-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
